<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:replace="~{fragments/fragment :: header('Genres')}"> </th:block>

  <body>
    <header>
      <th:block th:replace="~{fragments/fragment :: navbar}"> </th:block>
    </header>

    <main class="container my-5 pt-5">
      <h1 class="text-center">Explore genres!</h1>

      <div class="d-flex justify-content-end me-3 mb-3">
        <a class="btn btn-dark" th:href="@{/genres/create}">Add new genre</a>
      </div>
      <table th:if="${genres.size() > 0}" class="table table-striped">
        <thead>
          <tr class="text-center">
            <th scope="col">Id</th>
            <th scope="col">Genre</th>
            <th>Actions</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="text-center"
            th:each=" genre: ${genres}"
            th:object="${genre}"
          >
            <td class="align-middle">[[*{id}]]</td>
            <td class="align-middle fw-bold">[[*{name}]]</td>
            <td class="align-middle">
              <a
                class="btn btn-primary"
                th:href="@{/genres/edit/{id}(id=*{id})}"
                >Edit</a
              >
            </td>
            <td class="align-middle">
              <button
                class="btn btn-danger"
                data-bs-toggle="modal"
                th:data-bs-target="'#delete-modal-' + *{id}"
              >
                Delete
              </button>
            </td>
            <div
              class="modal fade"
              th:id="'delete-modal-' + *{id}"
              tabindex="-1"
              aria-labelledby="delete-modal"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Delete [[*{name}]]
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete [[*{name}]] genre?
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <form
                      th:action="@{/genres/delete/{id}(id=*{id})}"
                      method="post"
                    >
                      <button type="submit" class="btn btn-danger">
                        Delete
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <td class="align-middle"></td>
          </tr>
        </tbody>
      </table>
      <h1
        th:unless="${genres.size() > 0}"
        class="text-danger fw-bold text-center"
      >
        No genre found
      </h1>
    </main>

    <script
      th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
